
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<head th:replace="common/header::common-header">
<body>
	<div th:replace="common/header::navbar" />
	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img id="mg" src="img/logo.jpg" class="img-responsive" />
			</div>
		</div>
		<hr
			style="position: absolute; width: 85%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
		<img src="img/myAccWooden.PNG" class="img-responsive"
			style="margin-top: -75px;" />
		<div class="row" style="margin-top: 10px;">
			<div class ="col-xl-12">
			   <img class="img-responsive" src="img/hours.PNG" />
			</div>

		</div>
	</div>
    <div th:replace="common/header :: footer" />
	<div th:replace="common/header::body-bottom-scripts" />
</body>
</html>
