
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<head th:replace="common/header::common-header">
<body>
	<div th:replace="common/header::navbar" />
	<div class="container">
		<div class="row" style="margin-bottom: -100px;">

			<div class="col-xs-12">
				<h2 class="section-headline">

					<span
						th:text="${user}?${#strings.capitalize(user.username)}: 'User Account' "></span>

				</h2>

			</div>


		</div>
		<div class="row">
			<hr
				style="margin-left: -69px; position: absolute; width: 100%; height: 6px; background-color: #333; margin-top: 80px; z-index: -1;" />
		</div>
		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-9 col-sm-offset-3" style="width: 50%;">

				<!-- nav tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveNewAccount}?'active'"><a
						href="#tab-1" data-toggle="tab"><span style="color: red;">Create
								new account</span></a></li>
					<li th:classappend="${classActiveLogin}?'active'"><a
						href="#tab-2" data-toggle="tab"><span style="color: red;">Log
								in</span></a></li>
					<li th:classappend="${classActiveForgetPassword}?'active'"><a
						href="#tab-3" data-toggle="tab"><span style="color: red;">Forget
								Password</span></a></li>
				</ul>
				<!-- Tab panels -->
				<div class="tab-content">

					<!-- create new user -->
					<div class="tab-pane fade" id="tab-1"
						th:classappend="${classActiveNewAccount}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<div class="alert alert-info " th:if="${emailSent}">An
										email has been sent to the email address you just registered.
										please validate your email address and update your password
										information.</div>
									<form th:action="@{/newUser}" methode="post">
										<div class="form-group">
											<label for="newUsername">Username<span
												style="color: red;">*</span>:
											</label> &nbsp;<span style="color: red;" th:if="${usernameExists}">Username
												already exists. Choose a Different one.</span><input
												required="required" type="text" class="form-control"
												id="newUsername" name="username">
											<p style="color: #828282">Enter your username here.</p>
										</div>
										<div class="form-group">
											<label for="email">Email Address<span
												style="color: red;">*</span>:
											</label> &nbsp;<span style="color: red;" th:if="${emailExists}">email
												already exists. Choose a Different one.</span><input
												required="required" type="text" class="form-control"
												id="email" name="email">
											<p style="color: #828282">A vaild email address.All
												emails from the system will be sent to this address.the emai
												address is not made public and will only be used if you wish
												to receive a new password or wish to receive certain
												notification.</p>
										</div>
										<button type="submit" class="btn btn-primary  col-sm-offset-4" style="margin-left: 37%;">Create
											new account</button>
									</form>
								</div>

							</div>
						</div>
					</div>

					<!-- 	Log in -->
					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveLogin}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<form th:action="@{/login}" method="post">
										<div th:if="${param.error}">
											<div class="alert alert-danger">Invalid username or
												password.</div>
										</div>
										<div th:if="${param.logout}">
											<div class="alert alert-info">You have been logged out.</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-12">
													<label for="username">Username</label>: <input type="text"
														id="username" name="username" class="form-control"
														autofocus="autofocus" placeholder="Username" />
												</div>
												<div class="col-sm-12">
													<label for="password">Password</label>: <input
														type="password" id="password" name="password"
														class="form-control" placeholder="Password" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-3  col-sm-offset-5">
													<input type="submit" name="login-submit" id="login-submit"
														class="form-control btn btn-primary" value="Log In" style="margin-left: -20%;" />
												</div>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>

					<!-- 	forget password -->
					<div class="tab-pane fade" id="tab-3"
						th:classappend="${classActiveForgetPassword}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<div th:if="${emailNotExist}" style="color: red;"
										class="alert alert-info ">Email doesn't exist</div>

									<div th:if="${forgetPasswordEmailSent}" style="color: red;"
										class="alert alert-info">Email sent.</div>
									<form th:action="@{/forgetPassword}" methode="post">
										<div class="form-group">
											<label for="recoverEmail">* your Email :</label> <input
												required="required" type="text" class="form-control"
												id="recoverEmail" name="email">
											<p style="color: #828282">Enter your registered email
												address here.</p>
										</div>

										<button type="submit" class="btn btn-primary  col-sm-offset-5" style=" margin-left: 43%; width: 96px;">Submit
										</button>
									</form>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div th:replace="common/header :: footer" />
	<div th:replace="common/header::body-bottom-scripts" />
</body>
</html>
