
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<head th:replace="common/header::common-header">
<body>
	<div th:replace="common/header::navbar" />
	<div class="container">
		<div class="row" style="margin-bottom: -100px;">

			<div class="col-xs-12">
				<h2 class="section-headline">

					<span
						th:text="${user}?${#strings.capitalize(user.username)}: 'Shopping Carts' "></span>

				</h2>

			</div>


		</div>
		<div class="row">
			<hr
				style="margin-left: -69px; position: absolute; width: 100%; height: 6px; background-color: #333; margin-top: 80px; z-index: -1;" />
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 text-right">
						<a class="btn btn-primary" th:href="@{/bookshelf}">Continue
							Shopping</a>
					</div>
					
					<br />
					<div th:if="${notEnoughStock}" class="alert alert-warning">
						Oops, some of the products don't have enough stock. Please Update
						Product Quantity.</div>
					<div th:if="${emptyCart}" class="alert alert-warning">Oops,
						Your cart is empty. See if you can find what you like in the
						bookshelf and them to cart.</div>
					<br /> <br />
					<div class="row">
						<div class="col-xs-3">
							<h4>Products Image</h4>
						</div>
						<div class="col-xs-3">
							<h4>Products Details</h4>
						</div>
						<div class="col-xs-3">
							<h4>Price</h4>
						</div>
						<div class="col-xs-3">
							<h4>Quantity</h4>
						</div>
					</div>

					<!-- *********************** display products in cart ********************* -->
					<div class="row" th:each="cartItem: ${cartItemList}">
						<form th:action="@{/updateCartItem}" method="post">
							<hr />
							<div class="col-xs-3">
								<a th:href="@{/bookDetail?id=}+${cartItem.book.id}"> <img
									class="img-responsive shelf-book"
									style="height: 100px; width: 100px;"
									th:src="@{http://localhost:8081/adminportal/img/book/}+${cartItem.book.id}+'.png'" /></a>
							</div>
							<div class="col-xs-3">
								<div class="center-block">
									<a th:href="@{bookDetail?id=}+${cartItem.book.id}"><h4
											th:text="${cartItem.book.title}"></h4></a>
									<p th:if="${cartItem.book.inStockNumber&gt;10}"
										style="color: green;">IN stock</p>
									<p
										th:if="${cartItem.book.inStockNumber&lt;10 and cartItem.book.inStockNumber&gt;0}"
										style="color: green;">
										Only <span th:text="${cartItem.book.inStockNumber}"></span> IN
										Stock
									</p>

									<p th:if="${cartItem.book.inStockNumber==0}"
										style="color: darkred;">Product Unavailable</p>
									<button class="btn btn-danger"><a th:href="@{/removeItem?id=}+${cartItem.id}" style="color: white;">delete</a></button>
								</div>
							</div>
							<div class="col-xs-3">
								<h5 style="color: #db3208; font-size: large;">
									<span style='font-family: Arial;'>&#8377;</span><span
										th:text="${cartItem.book.ourPrice}"
										th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through':''"></span>
								</h5>
							</div>

							<div class="col-xs-3">
								<div class="row">
									<div class="col-xs-6">
										<input hidden="hidden" name="id" th:value="${cartItem.id}" />
										<input hidden="hidden" name="grandTotal"
											th:value="${shoppingCart.grandTotal}" /> <input
											th:id="${cartItem.id}" th:name="qty"
											th:disabled="${cartItem.book.inStockNumber==0}"
											class="form-control cartItemQty" th:value="${cartItem.qty}" />
									</div>
									<div class="col-xs-6">
									<button th:id="'update-item-'+${cartItem.id}" type="submit"
                      class="btn btn-light">Update</button>
									</div>

								</div>
							</div>
						</form>
					</div>
					<div class="row">
						<hr />
						<h4 class="col-xs-12 text-right">
							<strong style="font-size: large;">Total price (<span
								th:text="${#lists.size(cartItemList)}"></span> Items):
							</strong><span style="color: #db3208; font-size: large;"><span
								style='font-family: Arial;'>&#8377;</span><span
								th:text="${shoppingCart.grandTotal}"
								th:value="${shoppingCart.grandTotal}" th:name="grandTotal"></span></span>
						</h4>
						<div class="col-xs-12 text-right">
						
						<a class="btn btn-success"
							th:href="@{/checkout(id=${shoppingCart.id})}">Check Out</a>
					</div>
					</div>

				</div>
			</div>
		</div>

	</div>

    <div th:replace="common/header :: footer" />
	<div th:replace="common/header::body-bottom-scripts" />
</body>
</html>

